name: CI

on:
  push:
    branches:
      - main
  pull_request:

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  test:
    name: Test (Java ${{ matrix.java }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java: ["8", "11", "17", "21"]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: ${{ matrix.java }}
          java-package: jdk
          cache: gradle

      - name: Test
        run: make test

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: ktlint
        uses: ScaCap/action-ktlint@master
        with:
          fail_on_error: true
          github_token: ${{ secrets.github_token }}
          # NOTE: lock until this is resolved
          # https://github.com/ScaCap/action-ktlint/issues/48
          ktlint_version: "1.1.1"
          reporter: github-pr-review

  itest:
    name: Integration Test (Java ${{ matrix.java }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java: ["8", "11", "17", "21"]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: ${{ matrix.java }}
          java-package: jdk
          cache: gradle
      - uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Test
        run: make itest
